body {
    background-color: rgb(204, 204, 204);
}

button {
    margin-top: 1vh;
}

canvas {
    background-color: white;
}

.container {
    margin-top: 10vh;
}

button {
    min-width: 200px;
    cursor: pointer;
}

.col-1, label {
    cursor: pointer;
}

input[type="color"] {
	border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}